/* .container{
   width: 825px;
   margin-left:auto;
} */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
*{
    margin: 0;
    padding: 0;
}
.product{
    border:5px solid #000;
    width: 825px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 50px auto;

}
.title{
    background-color: #f7f7f7;
    text-transform: uppercase;
    /* margin-bottom: 0px;
    margin-top: 0px;
    margin: 50px auto; */
    text-align: center;
    padding: 15px;
}


.price{
    font-weight:bold;
    font-size: larger;
}
.info{
    text-transform: uppercase;
    color: #535151;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}


.more-info:link{
    color: #000;
    text-decoration: underline;
}
.more-info:hover{
    color: #000;
    text-decoration: none #41094e;
}


.product-details{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom:15px;
    margin-top: 30px;
}
.details{
    list-style: square;
    margin-left: 20px;
}
.details li{
    margin: 10px;
}
.add-cart{
    background-color: #000;
    color: #ffff;
    width: 825px;
    height: 50px;
    text-transform: uppercase;
}
.add-cart:hover{
    background-color: #f7f7f7;
    color: #000;
    border: 3px solid black;
    padding: 15px;
 }