h1,
h2,
h3,
h4,
p,
li{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    /* margin-left: 2cm;
    margin-right: 2cm; */
}

h1,
h2,
h3{
    color: #b1158d;
}


h1 {
    font-size: 26 px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;
    line-height: 1.5;
}

li{
    font-size: 20px;
}

/* footer p{
    font-size: 16px;
} */

#copyright{
    font-size: 16px;
}

#author{
    font-style: italic;
    font-size: 18px; 
}

/* for class we use -> . and for id -> # */
.related-author{
    font-size: 18px;
    font-weight: bold;
}

.related-posts{
    list-style: none;
}
 /* comment */

 .main-header{
    background-color: #f7f7f7;
 }

 aside{
    /* shorthand property, we can style
    3 properties in one */
    border-top: 4px solid #b1158d;
    border-bottom: 4px solid #b1158d;
    background-color: #f7f7f7;
 }

 body{
    /* background-color: #ffffff72; */
 }

 /* .first-li{
    font-weight: bold;
 } */

 /* different ways to style first child of the
 list */
 li:first-child{
    font-weight: bold; 
 }
 li:last-child{
    font-style: italic;
 }
 /* li:nth-child(odd){
color: #b1158d;
 } */
 
 /* Misconception: this won't work! */
 article p:first-child{
    color: #b1158d;
 }

 /* Styling links */
 a:link {
    color: #b1158d;
    text-decoration: none;
 }
 a:visited {
    color: #b1158d;
 }

 a:hover{
    color: #41094e;
    font-weight: bold;
    text-decoration: underline #41094e;
 }

 a:active{
    background-color: black;
    font-style: italic;
    color: #f7f7f7;
 }
 /* LVHA - link, visited, hover, active */